html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans TC';
    background-color: #fefae0;
}

nav{
    display: grid;
    grid-template-columns: 1fr;
}

.top{
    display: grid;
    grid-template-columns: 1fr 84px 150px;
}

.webname{
    width: 150px;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    line-height: 34px;
    margin:10px 0px ;
    text-decoration: none;
    color: #d4a373;
}

.book{
    width: 64px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    margin:20px 10px ;
    text-align: center;
    line-height: 14px;
    text-decoration: none;
    color: #666666;
    justify-content:center;
}

.signin{
    width: 100px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    margin:20px 5px ;
    text-align: center;
    line-height: 14px;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    justify-content:center;
    display:none;
}

.signin.show{
    display: block;
}

/*註冊跟登入視窗*/
.sign_window{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 3;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: none;
}

.sign_window.show{
    display: block;
}

.sign_container{
    display:none;
    width: 340px;
    height: 275px;
    margin: 80px auto;
    background: #ffffff;
    border-radius: 6px;
}
.sign_container.show{
    display: block;
}

.top_bar{
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px 6px 0 0 ;
}

.form_memberdata{
    width: 50%;
    margin: 0 auto;
    padding: 25px;
    background-color: #faedcd;
    border-radius: 6px 6px 6px 6px;
}
.form_title{
    text-align: center;
    position: relative;
    color: #666666;
    margin-bottom: 15px;
    font-size: 24px;
}

p{
    color: #666666;
    font-size: 16px;
    margin-bottom: 10px;
}

.form_content>div>input{
    border-radius: 5px;
    margin-bottom: 10px;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
}

.form_content>div{
    color: #666666;
    font-size: 16px;
}

.form_content>input::placeholder{
    color: #666666;
    font-size: 16px;
}

.form_content>button{
    color: #ffffff;
    width: 100%;
    height: 47px;
    font-size: 19px;
    background: #d4a373;
    border: 0;
    cursor: pointer;
}

.message{
color: red;
}

.change_sign{
    font-weight: bold;
    font-family: 'Noto Sans TC';
    color: #666666;
    cursor: pointer;
    margin: 0 auto;
}

.up_seperator{
    width: 100%;
    height: 1px;
    margin: 0;
    background-color: #e8e8e8;
}

