<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">  -->
    <link href="/static/css/chat.css" rel="stylesheet" type="text/css"  />
    <title>Simplemeet</title>
</head>
<body>
    <h1 class="welcome">Welcome to Simplemeet room <span id="room_id"></span></h1>

    <div id="messages"></div>

    <div class="button_container">
        <form class="input_form" id="message_input_form">
            <input type="text" id="message_input" placeholder="Enter your message">
            <button type="submit">Send</button>
        </form>
        <button id="leave_button" type="click">Leave Room</button>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="../static/js/socket.js"></script>
</html>